nav{
    background-color: #1E2328;
    border-bottom: 0px;
    color: white;
}

h1, h2, p{
    color: white;
    font-family: 'Raleway'
}

nav .nav-mobile>li>a{
    color: white;
}

nav .nav-mobile>ul>li>a:hover{
    color: #00FEBC;
}
.heading {
    background: url('../../images/banner_image.jpg');
    display: block;
    height: 350px;
    background-size: cover;
    margin-bottom: 0px;
}

#header-logo{
    height: 250px;
    margin-top: 50px;
}

h1{
    margin-top: 150px;
}

body{
    background-color: #1E2328;
}

.main-content{
    display: none;
}

.card-image{
    background-color: #1E2328;
    height: 240px;
}