nav{
    background-color: #1E2328;
    border-bottom: 0px;
    color: white;
}

h1, h2, p{
    color: white;
    font-family: 'Raleway'
}

nav .nav-mobile>li>a{
    color: white;
}

nav .nav-mobile>ul>li>a:hover{
    color: #00FEBC;
}
.heading {
    background: url('../../images/banner_image.jpg');
    display: block;
    height: 350px;
    background-size: cover;
    margin-bottom: 0px;
}

#header-logo{
    height: 250px;
    margin-top: 50px;
}

h1{
    margin-top: 150px;
}

body {

    background-image: radial-gradient(
            circle at top right,
            #959595,
            rgba(0, 0, 0, 0.85) 63%
    );

}
#main-content{
    display: none;
}

.horizontal-rule{
    background-color: white;
    height: 2px;
    width: 45%;
    margin-bottom: 10px;
}

.card-image{
    height: 240px;
}

.card{
    background-color: #1E2328;
}

.card .card-image .card-title{
    padding: 0;
}
.card-title>p{
    padding: 5px;
    margin: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.33);

}

#footer{
    background-color: #1E2328;
    padding-bottom: 10px;
}

.accent-color{
    color: #00FEBC;
}
