#playwindow{
	padding: 5px;
	width: 100%;
}

.playpage{
	margin: auto;
	left: 0;
	right: 0;
	position: relative;
	transform: scale(1,1);
	transform: translateZ(0);
	transform-origin: top center;
	-webkit-transform: scale(1,1);
	-webkit-transform: translateZ(0);
	-webkit-transform-origin: top center;
	-ms-transform: scale(1,1);
	-ms-transform: translateZ(0);
	-ms-transform-origin: top center;

}

