#cy {
	/* width and height defined by js */
	display: block;
	border: 3px solid #BBBBBB;
	padding-left:0px;
}

.handle{ /*for containers */
	background-color: #BBBBBB;
	text-align: left;
}

#editdiv{ /* text container */
	border-width: 2px;
	border-color: #BBBBBB;
	border-style: solid;
	width: 300px; 
	height: 200px; /*handle is 21 tall /*
	position: relative; 
	/*max-height: 200px;*/ 
	overflow-x: hidden; 
	overflow-y: auto;
	
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;

}

#editdec:hover{
	background-color: #EEEEEE;
}

#editdec{
	box-sizing: border-box;
	border-width: 2px;
	border-color: #BBBBBB;
	border-style: solid;
	background-color: #DDDDDD;

	width: 200px;
	height: 50px;
	max-height: 100px; 
	overflow-x: hidden; 
	overflow-y: auto;	

	word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

#sidebar{
	height: 90vh;
	padding-right: 0px;	
}

body {
	font-family: helvetica;
	font-size: 14px;
}

#page-modal{
  /* arbitrary styling */
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  height:90%;
  width:90%;

  /*change position to fixed if you want to prevent the dialog from scrolling away, and center it 
  position:fixed;
  top:50%;
  left:50%;
  margin-left: -40%;
  margin-top:0%;*/
}

.btn{
	width: 100%;
}

.btn.activebutton{
	background-color: green;
}

.editbutton{
	display: none; /*this is being overridden by some materialise class, so have to explicitly call it in the style in create.html */
}

.toolbar{
}

.textarea{
	width: auto;
	height: 23vw;
	display: block;
	border-style: dashed;
	border-color: white;
	border-width: thin;
	background-color: transparent;
}

#modalcontainers{
	border-style: solid;
	border-width: 2px;
	border-color: black;
	
	width: 74%;
	height: 100%;
	float: left;
}

#modaltoolbar{
	border-style: solid;
	border-width: 2px;
	border-color: black;

	width: 25%;
	height:100%;
	float: right;
}

#edit-page-toolbar{
	border-style: solid;
	border-width: 2px;
	border-color: black;

	width: 25%;
	height:100%;
	float: right;
}

#pagecontainers{
	border-style: solid;
	border-width: 2px;
	border-color: black;

	width: 74%;
	height: 100%;
	float: left;
}

#controlcontainers{
	width: 50%;
	height: auto;
	float: left;
}

#edit-control-toolbar{
	border-style: solid;
	border-width: 2px;
	border-color: black;

	width: 25%;
	height:100%;
	float: right;
}

#connectiontoolbar{

}

.modal-content{
	height: 100%;
}

#att-list-container{
	width: 100%;
	padding-right: 10px;
}

.floating-action-button{
	padding-top: 30px;
	float: right;
	right: 20px;
}


