#cy {
	/* width and height defined by js */
	display: block;
	padding:0px;
	border: 3px solid grey;
	margin-top: 70px;
}

#sidebar{
	height: 85vh;
	padding-top: 70px;
	padding-right: 0px;
	
}

body {
	font-family: helvetica;
	font-size: 14px;
}

.button{
	background-color: #dddddd;
}

.activebutton{
	background-color: green;
}

.connectionmode{
	display: none;
}

.deletebutton{
	display: none;
}

.editpane{
	display: none;
}

.textarea{
	width: auto;
	height: 23vw;
	display: block;
}

#editelement{
	width: 15vw;
	float:left;
	
	
}