#cy {
  width: 1000px;
  height: 600px;
  display: block;
  border: 1px solid black;
}

body {
	font-family: helvetica;
	font-size: 14px;
}

.button{
	background-color: #dddddd;
}

.activebutton{
	background-color: green;
}

.connectionmode{
	display: none;
}

.deletebutton{
	display: none;
}

.editpane{
	display: none;
}

.textarea{
	width: 1000px;
	height: 80px;
	display: block;
}